@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;1,400&display=swap');

#components-layout-demo-responsive .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
  .site-layout-sub-header-background {
    background: #fff;
  }
  
  .site-layout-background {
    background: #fff;
  }

  .head {
    color: #386fa4;
    font-weight: 500; 
    font-size: 40px;
    justify-content: center;
    padding-top: 22px;
 
}
  .try {
    background-image: url('../../assets/coding.jfif');
    height: 500px;
    width: 100%;
    background-attachment: fixed;
   background-size: cover;
   
  }

  .img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      /* border: 0.5px solid black; */
      box-shadow: 0 0 10px #000000;
  }

  .layout {
      background-color: #13293D;
  }

  .about {
    font-family: 'Nunito', sans-serif;
  }
  .about p {
      font-size: 18px;
      font-weight: 700;
      
  }
 
  @media only screen and (max-width: 500px) {
      .img {
          width: 200px;
          height: 200px;
      }
  }
  