.landingImg {

    background-image: url('../../assets/coding.jfif');
    height: 800px;
    width: 100%;
    background-attachment: fixed;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}

.mainLandDiv {
    margin-top: 60px;
    
}
.introText {
    color: orange;
    font-size: 60px;
    text-shadow: 3px 3px 5px black;
}
.name {
    color: white;
}

@media only screen and (max-width: 500px) {
    .introText {
        font-size: 40px;
        margin-left: 20%;
    }
}