@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;1,400&display=swap');
.techSkills {
    background-color: white;
    margin: 30px 0;
    box-shadow: 5px 5px 20px;
  
}

.about {
    font-family: 'Nunito', sans-serif;
  }
  .about p {
      font-size: 18px;
      font-weight: 700;
      
  }

.head {
    color: orange;
    font-weight: 700; 
    font-size: 30px;
}

.btn {
    font-size: 20px;
    color: #000;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pTitle {
    text-align: center;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    color:white;
}
.burgerTools {
    color:#FDBFBD;
    font-weight: 700;
    font-size: x-large;
}
.projectImg {
    width: 500px;
    height: 500px;
    margin: 15px 0;
    justify-content: center;
   
    border-radius: 4px;
    box-shadow: 5px 5px 20px;
}
.burgerImg {
    width: 300px;
}

.burger {
    background: #FA6D68;
    padding: 10px;
}

.burger p {
    font-family: sans-serif;
    font-weight: 300;
    color: white;
}

.winhacks {
    background: #66A7D5;
    padding: 10px;
}

.winhacks p {
    font-family: sans-serif;
    font-weight: 300;
    color: white;
}
.winhacksTools {
    color: #A8D7F9;
    font-weight: 700;
    font-size: x-large;
}

.library {
    background: #E29470;
    padding: 10px;
}

.library p {
    font-family: sans-serif;
    font-weight: 300;
    color: white;
}
.libraryTools {
    color: #f6dfd5;
    font-weight: 700;
    font-size: x-large;
}

.hospital {
    background: #31355b;
    padding: 10px;
}

.hospital p {
    font-family: sans-serif;
    font-weight: 300;
    color: white;
}
.hospitalTools {
    color: #dedfed;
    font-weight: 700;
    font-size: x-large;
}
@media only screen and (max-width: 500px) {
    .projectImg {
        width: 200px;
        height: 200px;
    }
}
