@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;1,400&display=swap');


.about {
    font-family: 'Nunito', sans-serif;
  }
  .about p {
      font-size: 18px;
      font-weight: 500;
      
  }

.head {
    color: #386fa4;
    font-weight: 500; 
    font-size: 40px;
    justify-content: center;
    padding-top: 22px;
   
 
}

.btn {
    font-size: 20px;
    color: #2e3830;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pTitle {
    text-align: center;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    color:white;
}

.skilltools {
    background: #386fa4;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px;
    margin: 30px 0;
    box-shadow: 1px 5px 5px;
}
.pTools {
    color:white;
    font-weight: 700;
    font-size: x-large;
}
.projectImg {
    width: 500px;
    height: 500px;
    display: flex;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 5px 5px 20px;
}
.burgerImg {
    width: 300px;
}

.burger {
   background: white;
    padding: 20px;
}

.burger p {
    font-family: sans-serif;
    font-weight: 300;
    color: white;
}

.winhacks {
    background: white;
    padding: 10px;
}
.winHead {
    text-align: center;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    color:white;
}

.winhacks p {
    font-family: sans-serif;
    font-weight: 300;
    color: #386fa4;
}
.winhacksTools {
    color: white;
    font-weight: 700;
    font-size: x-large;
}
.winhacksDiv {
    
    background-color: #386fa4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.winhacksImg {
    
    padding: 30px 0;
}

.library {
    background: white;
    padding: 10px;
}

.library p {
    font-family: sans-serif;
    font-weight: 300;
    color: white;
}
.libraryTools {
    color: white;
    font-weight: 700;
    font-size: x-large;
}

.hospital {
    background: white;
    padding: 10px;
}

.hospTitle {
    text-align: center;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    color:white;
}

.hospital p {
    font-family: sans-serif;
    font-weight: 300;
    color: #386fa4;
}
.hospitalTools {
    color: white;
    font-weight: 700;
    font-size: x-large;
}

.btnAbout {
    background-color:  #f2f2f2;
    border: 2px solid orange;
    color: orange;
    font-size: large;
    
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
}
.btnAbout:focus {
    background-color:  #f2f2f2;
    border: 2px solid orange;
    color: orange;
}
.btnAbout:hover {
    background-color: orange;
    color: white;
}
@media only screen and (max-width: 500px) {
    .projectImg {
        width: 200px;
        height: 200px;
    }
}

