@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;1,400&display=swap');
.main {
    padding: 24px;
   
    background-color: white;
   
}

.headSkills {
    color: #386fa4;
    font-weight: 500; 
    font-size: 40px;
 
}

.site-card-wrapper {
    background: #386fa4;
    padding: 30px;
  }

  .cardSkill {
    padding: 35px 0;
  }

  .col {
    margin: 5px 0;
    padding: 5px 0;
    
}

  @media only screen and (max-width: 500px) {
      
}