
  .ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color:#011627;
  }

  .logo {
      width: 100%;
  }
  .navbar {
      width: 60%;
  }
  #components-layout-demo-responsive .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
  .site-layout-sub-header-background {
    background: #fff;
  }
  
  .site-layout-background {
    background: #fff;
  }
  .nav {
    height: 100vh;
        position: fixed;
        left: 0;
        background-color:#011627;
        z-index:100;
        
  }
  .link {
    color: white;
    font-weight: 500;
  }
  .link:active {
    background-color: #40a9ff;
    padding: 10px;
    border-radius: 5%;
  }

  .link:hover {
    color: orange;
  }
  @media only screen and (max-width: 500px) {
    

  }
 

  