.ant-menu.ant-menu-dark .ant-menu-item-selected.menu {
    background-color: #b2cdc5; /*Overriden property*/
  }
  .logo {
      width: 100%;
  }
  .navbar {
      width: 60%;
  }
  #components-layout-demo-responsive .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
  .site-layout-sub-header-background {
    background: #fff;
  }
  
  .site-layout-background {
    background: #fff;
  }